:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    background-image: url(./assets/imgs/background.webp) ;
    background-attachment: fixed;
    background-size: cover;
    height: 800vh;
}
nav > ul {
    height: 70px;
    width: auto;
    display: inline-flex;
    justify-content: space-between ;
    align-items: normal;
    padding: 5px 10px;
    gap: 7px;
}
li {
    list-style-type: none;
}
nav img {
    height: 50px;
    width: auto;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
header > img {
    width: 400px;
}
h1 {
    text-transform: uppercase;
    font-size: 50px;
}
h2 {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    padding: 40px;
}
header ul {
    justify-content: center;
    flex-wrap: wrap;
}


main > .barcos > .carga{
    height: auto;
    width: auto;
    display: inline-flex;
    justify-content: space-between ;
    align-items: center;
    padding: 5px 10px;
    gap: 7px;
}


    
