:root{
    font-family: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    background-image: url(./assets/imgs/background.webp) ;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
nav > ul {
    
    display: inline-flex;
    align-items: normal;
    padding: 10px 87%;
    gap: 3%;
}
li {
    list-style-type: none;
}
nav img {
    height: 50px;
    width: auto;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
header img {
    width: 400px;
}
header h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin-top: 50px;
    color:rgb(14, 94, 160);
    
}
header ul {
    display: flex;
    text-transform: uppercase;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

main .barcos .carga {
    height: auto;
    width: auto;
    display: inline-block;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    
}
p {
    text-transform: uppercase;
    padding: 10px;
    margin-left: 30%;
    font-size: 20px;
    color:azure;
}


h3 {
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    color:azure;

}
    
